# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints

# IDE files
.vscode/
*.swp

# Logs and reports
*.log
coverage.xml
htmlcov/

# Generated outputs
cleaned_nassau_candy.csv
*_summary.csv

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/